a {
  text-decoration: none;
  color: black;
}

header {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: white;
}
header .natural {
  display: flex;
}
header .natural .search-icon {
  margin: 0px 0 0 80px;
  position: relative;
  width: 60%;
}
header .natural .search-icon input {
  border: 1px solid black;
  border-radius: 8px;
  border: none;
  width: 100%;
  height: 45px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.031);
  padding: 20px;
}
header .natural .search-icon i {
  position: absolute;
  top: 15px;
  right: 10px;
  color: rgba(0, 0, 0, 0.655);
}
header .natural .image {
  width: 6.5%;
}
header .natural .image img {
  width: 100%;
}
header .natural .name {
  font-size: 20px;
  font-weight: 500;
  margin: 7px 0px 1px 12px;
}
header .navigation {
  display: flex;
  margin: 10px 0px 0px 10px;
}
header .navigation .button {
  margin-left: 33px;
}
header .navigation .button button {
  background-color: #fc5f5f;
  margin-right: 25px;
  padding: 0px;
  width: 100%;
  border: none;
}
header .navigation a {
  margin-left: 25px;
}
header .navigation a:hover {
  color: red;
  transition: 0.5s;
}
header .navigation .icon .basket {
  position: relative;
}
header .navigation .icon .basket span {
  position: absolute;
  bottom: 14px;
  left: 38px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  align-items: center;
  font-size: 13px;
}

#banner {
  background-position: center;
  background-size: cover;
  height: 500px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}
#banner .banner-wright {
  padding: 85px;
  margin-left: 35px;
}
#banner .banner-wright h1 {
  margin-top: 150px;
  font-size: 60px;
  font-weight: 700;
  color: #2b2f38;
}

#description .desc {
  margin-top: 100px;
}
#description .desc h3 {
  color: rgba(43, 47, 56, 0.9058823529);
}
#description .desc .desc-right .desc-text {
  width: 80%;
}
#description .desc .desc-right .desc-text p {
  color: #5d6167;
  line-height: 30px;
}
#description .desc .desc-right .desc-button {
  margin-top: 25px;
}
#description .desc .desc-right .desc-button button {
  width: 150px;
  height: 45px;
  border-radius: 30px;
  background-color: #fc5f5f;
  border: none;
  transition: 0.5s;
}
#description .desc .desc-right .desc-button button:hover {
  background-color: #3f7d05;
  transition: 0.5s;
}

#company .company {
  text-align: center;
  margin-top: 150px;
}
#company .company .company-wright {
  top: 40px;
  left: 60px;
}
#company .company .company-wright h2 {
  font-weight: 500;
  font-size: 45px;
  width: 50%;
  color: #2b2f38;
  margin-left: 300px;
}
#company .company .company-wright p {
  margin: 25px 0px 35px 300px;
  width: 50%;
  color: rgba(0, 0, 0, 0.7);
  font-size: 17px;
}
#company .company .image img {
  border-radius: 20px;
  width: 100%;
}
#company .company .company-desc {
  text-align: start;
  line-height: 35px;
  margin-top: 60px;
}
#company .company .company-desc .pp {
  width: 69%;
  color: #6b6d71;
}
#company .company .company-desc .p {
  width: 68%;
  color: #6b6d71;
}

#team .team {
  text-align: center;
  margin-top: 150px;
}
#team .team .team-wright {
  top: 40px;
  left: 60px;
}
#team .team .team-wright h2 {
  font-weight: 500;
  font-size: 45px;
  width: 50%;
  color: #2b2f38;
  margin-left: 300px;
}
#team .team .team-wright p {
  margin: 25px 0px 35px 300px;
  width: 50%;
  color: rgba(0, 0, 0, 0.7);
  font-size: 17px;
}
#team .co-founder .image img {
  width: 90%;
}
#team .co-founder .text {
  margin: 15px 0px 35px;
  text-align: center;
  margin-right: 70px;
}
#team .co-founder .text .hr .hr-red hr {
  text-align: center;
  margin: auto;
  width: 10%;
  color: red;
}
#team .co-founder .social {
  text-align: center;
  margin-right: 70px;
}
#team .co-founder .social i {
  border-radius: 50%;
  margin-left: 8px;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.871);
  color: white;
  transition: 0.5s;
}
#team .co-founder .social i:hover {
  background-color: #fc5f5f;
  transition: 0.5s;
}

#interested .interested-desc {
  text-align: center;
  margin-top: 150px;
  position: relative;
}
#interested .interested-desc .interested-wright {
  position: absolute;
  top: 40px;
  left: 60px;
}
#interested .interested-desc .interested-wright h2 {
  font-weight: 700;
  font-size: 40px;
  width: 50%;
  color: #2b2f38;
  margin-left: 330px;
}
#interested .interested-desc .interested-wright p {
  margin: 25px 0px 35px 300px;
  width: 55%;
  color: rgba(0, 0, 0, 0.7);
  font-size: 17px;
}
#interested .interested-desc button {
  width: 170px;
  height: 45px;
  border-radius: 25px;
  background-color: #fc5f5f;
  border: none;
  transition: 0.5s;
}
#interested .interested-desc button:hover {
  background-color: #75c32c;
  transition: 0.5s;
}
#interested .interested-desc .background {
  margin-bottom: 100px;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
}

footer .footer-top {
  margin-bottom: 70px;
}
footer .footer-top .natural {
  margin-left: 20px;
}
footer .footer-top .natural .image {
  width: 30%;
}
footer .footer-top .natural .image img {
  width: 100%;
  margin-left: 45px;
}
footer .footer-top .natural .name {
  font-size: 20px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.653);
  margin: 15px 0px 1px 12px;
}
footer .footer-top .natural .social {
  padding: 8px;
  margin-top: 20px;
}
footer .footer-top .natural .social i {
  margin-left: 8px;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 5px;
  background-color: rgba(2, 2, 37, 0.641);
  color: white;
  transition: 0.5s;
}
footer .footer-top .natural .social i:hover {
  background-color: green;
  transition: 0.5s;
}
footer .footer-top .quick-footer h4 {
  margin-bottom: 20px;
  font-weight: 400;
}
footer .footer-top .quick-footer a {
  display: block;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.586);
  font-weight: 500;
}
footer .footer-top .important-footer h4 {
  margin-bottom: 20px;
  font-weight: 400;
}
footer .footer-top .important-footer a {
  display: block;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.586);
  font-weight: 500;
}
footer .footer-top .touch-footer h4 {
  margin-bottom: 20px;
  font-weight: 400;
}
footer .footer-top .touch-footer p {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.586);
  font-weight: 500;
}
footer .footer-bottom {
  margin-bottom: 70px;
}/*# sourceMappingURL=about.css.map */