a {
  text-decoration: none;
  color: black;
}

header {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: white;
}
header .natural {
  display: flex;
}
header .natural .search-icon {
  margin: 0px 0 0 80px;
  position: relative;
  width: 60%;
}
header .natural .search-icon input {
  border: 1px solid black;
  border-radius: 8px;
  border: none;
  width: 100%;
  height: 45px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.031);
  padding: 20px;
}
header .natural .search-icon i {
  position: absolute;
  top: 15px;
  right: 10px;
  color: rgba(0, 0, 0, 0.655);
  cursor: pointer;
}
header .natural .image {
  width: 6.5%;
}
header .natural .image img {
  width: 100%;
}
header .natural .name {
  font-size: 20px;
  font-weight: 500;
  margin: 7px 0px 1px 12px;
}
header .navigation {
  display: flex;
  margin: 10px 0px 0px 1px;
}
header .navigation .button {
  margin-left: 33px;
}
header .navigation .button button {
  background-color: #fc5f5f;
  margin-right: 25px;
  padding: 0px;
  width: 100%;
  border: none;
}
header .navigation a {
  margin-left: 25px;
}
header .navigation a:hover {
  color: red;
  transition: 0.5s;
}
header .navigation .icon .basket {
  position: relative;
}
header .navigation .icon .basket span {
  position: absolute;
  bottom: 14px;
  left: 38px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  align-items: center;
  font-size: 13px;
}

#banner {
  background-position: center;
  background-size: cover;
  height: 500px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}
#banner .banner-wright {
  padding: 80px;
  margin-left: 35px;
}
#banner .banner-wright .banner-amazing {
  margin: 15px 0 30px 0;
  width: 40%;
}
#banner .banner-wright .banner-amazing h1 {
  font-size: 60px;
}
#banner .banner-wright button {
  width: 140px;
  height: 45px;
  border-radius: 30px;
  background-color: #fc5f5f;
  border: none;
  transition: 0.5s;
}
#banner .banner-wright button:hover {
  background-color: rgba(76, 171, 3, 0.799);
  transition: 0.5s;
}

#elementor {
  margin: 50px 0 0 150px;
}
#elementor h6 {
  color: rgba(0, 0, 0, 0.514);
}
#elementor i {
  font-size: 25px;
  color: rgba(76, 171, 3, 0.799);
}
#elementor .collection {
  display: flex;
  position: relative;
}
#elementor .collection i {
  position: absolute;
  top: 15px;
  left: 0px;
}
#elementor .collection .collection-desc {
  margin-left: 55px;
}
#elementor .shipping {
  display: flex;
  position: relative;
}
#elementor .shipping i {
  position: absolute;
  top: 15px;
  left: 0px;
}
#elementor .shipping .shipping-desc {
  margin-left: 55px;
}
#elementor .money {
  display: flex;
  position: relative;
}
#elementor .money i {
  position: absolute;
  top: 15px;
  left: 0px;
}
#elementor .money .money-desc {
  margin-left: 55px;
}

#blog-part {
  margin-top: 70px;
}
#blog-part .blog-card {
  border-radius: 25px;
  background-color: #eeedf3;
  transition: 0.5s;
}
#blog-part .blog-card:hover {
  box-shadow: 5px 2px 25px 10px #eeedf3;
  transition: 0.5s;
}
#blog-part .blog-card .blog-image {
  width: 100%;
}
#blog-part .blog-card .blog-image img {
  width: 100%;
  border-radius: 25px;
}
#blog-part .blog-card .blog-image .blog-wright {
  padding: 20px;
  margin: 20px 0px 20px 50px;
  width: 70%;
}
#blog-part .blog-card .blog-image .blog-wright p {
  color: #616167;
}
#blog-part .blog-card .blog-image .blog-wright a {
  margin-bottom: 50px;
  color: rgba(255, 0, 0, 0.666);
  font-size: 15px;
  font-weight: 600;
  transition: 0.5s;
}
#blog-part .blog-card .blog-image .blog-wright a:hover {
  color: #5d6167;
  transition: 0.5s;
}

#featured .featured-desc {
  text-align: center;
  margin-top: 150px;
}
#featured .featured-desc h2 {
  font-size: 40px;
  font-weight: 700;
}
#featured .featured-desc p {
  margin-top: 25px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 17px;
}

#product .product-image {
  margin: 25px 0;
  width: 100%;
}
#product .product-image:hover .wishlist-icon {
  opacity: 1;
  transition: 0.5s;
}
#product .product-image:hover .bucket-icon {
  opacity: 1;
  transition: 0.5s;
}
#product .product-image .bucket-icon {
  position: relative;
  opacity: 0;
  transition: 0.5s;
}
#product .product-image .bucket-icon i {
  position: absolute;
  display: block;
  top: 8px;
  right: 14px;
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 50%;
  padding: 7px;
}
#product .product-image .bucket-icon i:hover {
  color: red;
  transition: 0.5s;
}
#product .product-image .wishlist-icon {
  position: relative;
  opacity: 0;
  transition: 0.5s;
}
#product .product-image .wishlist-icon .wishlist {
  color: red;
}
#product .product-image .wishlist-icon i {
  position: absolute;
  top: 55px;
  right: 14px;
  background-color: white;
  font-size: 20px;
  border-radius: 50%;
  padding: 7px;
}
#product .product-image .wishlist-icon i:hover {
  color: red;
  transition: 0.5s;
}
#product .product-image img {
  width: 100%;
}
#product .product-image p {
  margin-top: 15px;
  color: rgba(93, 97, 103, 0.4784313725);
}
#product .product-image h5 {
  font-weight: 400;
}
#product .product-image span {
  font-weight: 900;
  color: rgba(43, 47, 56, 0.6901960784);
}

#help {
  margin: 150px 0 150px 0;
}
#help .help-title h4 {
  width: 70%;
}
#help .help-title .contact {
  height: 10px;
}
#help .help-title .contact i {
  transition: 0.5s;
  color: #FC7C7C;
  margin-top: 50px;
}
#help .help-title .contact span {
  color: #FC7C7C;
  font-size: 13px;
  font-weight: 500;
  transition: 0.5s;
}
#help .help-title .contact:hover i {
  color: #5D6167;
  transition: 0.5s;
}
#help .help-title .contact:hover span {
  color: #5D6167;
  transition: 0.5s;
}
#help .help-text p {
  width: 80%;
  color: #5D617E;
}

#testimonial .overview .text {
  margin-top: 15px;
}
#testimonial .overview .text h1 {
  color: #2B2F38;
}
#testimonial .overview .text p {
  font-size: 15px;
  margin-top: 25px;
  color: #676167;
}
#testimonial .overview .since {
  margin-top: 70px;
}
#testimonial .overview .since .image-left {
  width: 100%;
}
#testimonial .overview .since .image-left img {
  border-radius: 8% 8% 8% 0;
  width: 100%;
}
#testimonial .overview .since .review {
  margin-top: 70px;
  width: 90%;
}
#testimonial .overview .since .review p {
  color: #676167;
}
#testimonial .overview .since .review span {
  color: #676167;
  font-size: 12px;
}
#testimonial .since .image-right {
  width: 100%;
  padding: 10px;
}
#testimonial .since .image-right img {
  border-radius: 8% 8% 8% 0;
  width: 100%;
}
#testimonial .since .review {
  margin-top: 70px;
  width: 90%;
}
#testimonial .since .review p {
  color: #676167;
}
#testimonial .since .review span {
  color: #676167;
  font-size: 12px;
}

#interested .interested-desc {
  text-align: center;
  margin-top: 150px;
  position: relative;
}
#interested .interested-desc .interested-wright {
  position: absolute;
  top: 40px;
  left: 60px;
}
#interested .interested-desc .interested-wright h2 {
  font-weight: 700;
  font-size: 40px;
  width: 50%;
  color: #2B2F38;
  margin-left: 330px;
}
#interested .interested-desc .interested-wright p {
  margin: 25px 0px 35px 300px;
  width: 55%;
  color: rgba(0, 0, 0, 0.7);
  font-size: 17px;
}
#interested .interested-desc button {
  width: 170px;
  height: 45px;
  border-radius: 25px;
  background-color: #fc5f5f;
  border: none;
  transition: 0.5s;
}
#interested .interested-desc button:hover {
  background-color: #75c32c;
  transition: 0.5s;
}
#interested .interested-desc .background {
  margin-bottom: 100px;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
}

footer .footer-top {
  margin-bottom: 70px;
}
footer .footer-top .natural {
  margin-left: 20px;
}
footer .footer-top .natural .image {
  width: 30%;
}
footer .footer-top .natural .image img {
  width: 100%;
  margin-left: 45px;
}
footer .footer-top .natural .name {
  font-size: 20px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.653);
  margin: 15px 0px 1px 12px;
}
footer .footer-top .natural .social {
  padding: 8px;
  margin-top: 20px;
}
footer .footer-top .natural .social i {
  margin-left: 8px;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 5px;
  background-color: rgba(2, 2, 37, 0.641);
  color: white;
  transition: 0.5s;
}
footer .footer-top .natural .social i:hover {
  background-color: green;
  transition: 0.5s;
}
footer .footer-top .quick-footer h4 {
  margin-bottom: 20px;
  font-weight: 400;
}
footer .footer-top .quick-footer a {
  display: block;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.586);
  font-weight: 500;
}
footer .footer-top .important-footer h4 {
  margin-bottom: 20px;
  font-weight: 400;
}
footer .footer-top .important-footer a {
  display: block;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.586);
  font-weight: 500;
}
footer .footer-top .touch-footer h4 {
  margin-bottom: 20px;
  font-weight: 400;
}
footer .footer-top .touch-footer p {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.586);
  font-weight: 500;
}
footer .footer-bottom {
  margin-bottom: 70px;
}/*# sourceMappingURL=home.css.map */