a {
  text-decoration: none;
  color: black;
}

header {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: white;
}
header .natural {
  display: flex;
}
header .natural .search-icon {
  margin: 0px 0 0 80px;
  position: relative;
  width: 60%;
}
header .natural .search-icon input {
  border: 1px solid black;
  border-radius: 8px;
  border: none;
  width: 100%;
  height: 45px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.031);
  padding: 20px;
}
header .natural .search-icon i {
  position: absolute;
  top: 15px;
  right: 10px;
  color: rgba(0, 0, 0, 0.655);
}
header .natural .image {
  width: 6.5%;
}
header .natural .image img {
  width: 100%;
}
header .natural .name {
  font-size: 20px;
  font-weight: 500;
  margin: 7px 0px 1px 12px;
}
header .navigation {
  display: flex;
  margin: 10px 0px 0px 10px;
}
header .navigation a {
  margin-left: 25px;
}
header .navigation a:hover {
  color: red;
  transition: 0.5s;
}
header .navigation .icon .basket {
  position: relative;
}
header .navigation .icon .basket span {
  position: absolute;
  bottom: 14px;
  left: 38px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  align-items: center;
  font-size: 13px;
}

#detail-all .detail {
  margin: 100px 0 100px;
}
#detail-all .detail .image {
  padding: 45px;
}
#detail-all .detail .image img {
  width: 100%;
}
#detail-all .detail .desc {
  padding: 50px;
  line-height: 30px;
}
#detail-all .detail .desc a {
  transition: 0.5s;
}
#detail-all .detail .desc a:hover {
  color: rgba(76, 171, 3, 0.799);
  transition: 0.5s;
}
#detail-all .detail .desc h1 {
  font-size: 45px;
  margin: 25px 0 50px;
}
#detail-all .detail .desc p {
  width: 85%;
}
#detail-all .detail .desc button {
  margin-top: 20px;
  width: 50%;
  height: 45px;
  border-radius: 30px;
  background-color: #fc5f5f;
  border: none;
  transition: 0.5s;
}
#detail-all .detail .desc button:hover {
  background-color: rgba(76, 171, 3, 0.799);
  transition: 0.5s;
}
#detail-all .description a {
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.667);
  transition: 0.5s;
}
#detail-all .description a:hover {
  color: rgba(93, 97, 103, 0.4980392157);
  transition: 0.5s;
}
#detail-all .description p {
  margin-top: 20px;
  line-height: 27px;
  color: #5D6167;
}

footer .footer-top {
  margin-bottom: 70px;
}
footer .footer-top .natural {
  margin-left: 20px;
}
footer .footer-top .natural .image {
  width: 30%;
}
footer .footer-top .natural .image img {
  width: 100%;
  margin-left: 45px;
}
footer .footer-top .natural .name {
  font-size: 20px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.653);
  margin: 15px 0px 1px 12px;
}
footer .footer-top .natural .social {
  padding: 8px;
  margin-top: 20px;
}
footer .footer-top .natural .social i {
  margin-left: 8px;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 5px;
  background-color: rgba(2, 2, 37, 0.641);
  color: white;
  transition: 0.5s;
}
footer .footer-top .natural .social i:hover {
  background-color: green;
  transition: 0.5s;
}
footer .footer-top .quick-footer h4 {
  margin-bottom: 20px;
  font-weight: 400;
}
footer .footer-top .quick-footer a {
  display: block;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.586);
  font-weight: 500;
}
footer .footer-top .important-footer h4 {
  margin-bottom: 20px;
  font-weight: 400;
}
footer .footer-top .important-footer a {
  display: block;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.586);
  font-weight: 500;
}
footer .footer-top .touch-footer h4 {
  margin-bottom: 20px;
  font-weight: 400;
}
footer .footer-top .touch-footer p {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.586);
  font-weight: 500;
}
footer .footer-bottom {
  margin-bottom: 70px;
}/*# sourceMappingURL=productdetail.css.map */